div {
    box-sizing: border-box;
}

#grid-container {
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 70vh;
    margin: 0 auto;
    background-color: aliceblue;
    align-items: stretch;
}

.grid-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
}

.grid-unit {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0;
    border: 0.5px solid rgb(93, 93, 93);
}